<% nodes.each do |node| %>
  <li>
    <% unless node[:link].nil? %>
      <a href = '<%= node[:link] %>' target = 'new'>
        <%= node[:title] %>
      </a>
    <% else %>
      <%= node[:title] %>
    <% end %>
  </li>
<% end %>
